.card {
  border: 1px solid rgba(0,0,0,.125);
  border-radius: .25rem;
  font-weight: normal !important;
  &:first-child {
    .card-header {
      border-top: 1px solid $dark;
      font-size: 14px;
    }
  }

  .card-header {
    background-color: #fff;
    cursor: pointer;
    display: flex;
    align-items: center;
    h6 {
      width: 95%;
    }
    &.is-open {
      i {
        transform: rotate(180deg);
      }
    }
    
    i {
      transition: transform ease-in-out .2s;
      font-size: 16px;
    }
  }

  .card-text:last-child {
    font-size: 14px;
    line-height: 1.8;
    font-weight: 100;
  }
}

.ReactCollapse--collapse {
  transition: height 500ms;
}
