.grad-green {
  background-image: linear-gradient(to right, #156315, #1d881d);
}

.grad-green-yellow {
  background-image: linear-gradient(to right, #156615, #ffb800);
}

.grad-grey {
  background-image: linear-gradient(to right, #4d4d4d, #848484);
}

.grad-blue {
  background-image: linear-gradient(to right, #066ba4, #1aa3f1);
}

.grad-yellow {
  background-image: linear-gradient(to right, #e78f00, #ffb800);
}

.grad-blue-red {
  background-image: linear-gradient(to right, #087bbc, #bc0854);
}

.grad-green-yellow {
  background-image: linear-gradient(to right, #1d881d, #ffb800);
}
.btn {
  padding-left: 32px;
  padding-right: 32px;
  color: #ffffff;
  height: 56px;
  font-size: 14px;
  font-weight: 600;
  border: none;
}