.form-control {
  padding: 25px 20px;
  border-radius: 50px !important;
}

.search {
  position: relative;
  input {
    padding-right: 50px;
  }
  &:focus-within {
    i {
      opacity: 0.8;
    }
  }
  i {
    transition: opacity ease-in-out 0.2s;
    position: absolute;
    right: 40px;
    top: 15px;
    font-size: 20px;
    font-weight: normal;
    opacity: 0.4;
  }
}