$font-size-sm-base: 0.80rem;
$font-size-base: 1rem;

$h1-font-sm-size: $font-size-sm-base * 2.7 !default;
$h2-font-sm-size: $font-size-sm-base * 2 !default;
$h3-font-sm-size: $font-size-sm-base * 1.75 !default;
$h4-font-sm-size: $font-size-sm-base * 1.45 !default;
$h5-font-sm-size: $font-size-sm-base * 1.25 !default;
$h6-font-sm-size: $font-size-sm-base * 1.25 !default;
$icon-font-sm-size: 3rem !default;

$h1-font-size: $font-size-base * 2.3 !default;
$h2-font-size: $font-size-base * 2 !default;
$h3-font-size: $font-size-base * 1.75 !default;
$h4-font-size: $font-size-base * 1.15 !default;
$h5-font-size: $font-size-base * 1.05 !default;
$h6-font-size: $font-size-base * 1 !default;
$icon-font-size: $h2-font-size !default;

$headings-font-family:        "Poppins" !important;
$headings-font-weight:        bold !important;
$headings-line-height:        1.3 !default;
$headings-color:              null !default;

$sizes: (
  10: 10%,
  15: 15%,
  20: 20%,
  25: 25%,
  30: 30%,
  33: calc(100% / 3),
  40: 40%,
  50: 50%,
  60: 60%,
  65: 65%,
  70: 70%,
  75: 75%,
  80: 80%,
  85: 85%,
  90: 90%,
  auto: auto,
);

$text-sizes: (
  "2xs": .70rem,
  "xs": .75rem,
  "sm": .875rem,
  "base": 1rem,
  "lg": 1.125rem,
  "xl": 1.25rem,
  "1xl": 1.40rem,
  "2xl": 1.5rem,
  "3xl": 1.875rem,
  "4xl": 2.25rem,
  "5xl": 3rem,
);
